@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color-scheme: dark;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

@layer base {
  body {
    @apply text-zinc-100;
    @apply bg-zinc-900;
  }

  .letter {
    @apply text-amber-400;
    @apply font-medium;
  }

  input,
  select {
    @apply rounded-md;
    @apply !py-1;
    @apply !px-2;
    @apply w-fit;
  }

  a:hover {
    @apply text-zinc-400;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
